
{% extends "./common/main_t.html" %}


{% block content %}
{% load static%}
{% load crispy_forms_tags %}
  <!--start content-->
  <main class="authentication-content">
    <div class="container">
      <div class="mt-4">
        <div class="card rounded-0 overflow-hidden shadow-none bg-white border">
          <div class="row g-0">
            <div class="col-12 order-1 col-xl-8 d-flex align-items-center justify-content-center border-end">
              <img src="{% static 'assets/images/utils/app_landing_image-01.png' %}" height="70%" width="100%" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-xl-4 order-xl-2">
              <div class="card-body p-4 p-sm-5">
                <h1 class="card-title">Create an Account</h1>
               
                {% if error %}
                <p class="card-text mb-4" style="color: red;">  {{ error }}  <br><br></p>
                {% endif %}

                


              





                 <form class="form-body" method = "POST" action="{% url 'register' %}">
                  {% csrf_token %}
                  
                    <div class="row g-3">
                      <div class="col-12 ">
                        <label for="inputName" class="form-label">Farmer First Name</label>
                        <div class="ms-auto position-relative">
                          <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-person-circle"></i></div>
                          <input type="text" class="form-control radius-30 ps-5" maxlength="15"  id="first_name" name="first_name"    placeholder="Enter Fisrt Name" required="">
                        </div>
                      </div>
                      <div class="col-12 ">
                        <label for="inputName" class="form-label">Farmer Last Name</label>
                        <div class="ms-auto position-relative">
                          <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-person-circle"></i></div>
                          <input type="text" class="form-control radius-30 ps-5" maxlength="15" id="last_name" name="last_name"   placeholder="Enter Last Name" required="">
                        </div>
                      </div>
                      
                      
                      <div class="col-12">
                        <label for="inputEmailAddress" class="form-label">National ID Number</label>
                        <div class="ms-auto position-relative">
                          <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                          <input type="number" class="form-control radius-30 ps-5" maxlength="10" minlength="5"  id="username" name="username" placeholder="Enter National ID Number" required="">
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="inputChoosePassword" class="form-label">Enter Password</label>
                        <div class="ms-auto position-relative">
                          <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                          <input type="password" class="form-control radius-30 ps-5" id="password1" name="password1" placeholder="Enter Password" required="">
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <label for="inputChoosePassword" class="form-label">Confirm Password</label>
                        <div class="ms-auto position-relative">
                          <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                          <input type="password" class="form-control radius-30 ps-5" id="password2" name="password2" placeholder="Confirm Password" required="">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" required="">
                          <label class="form-check-label" for="flexSwitchCheckChecked">I Agree to the Trems & Conditions</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <input class ="btn btn-success radius-30" type="submit" value= "signup" />
                                 </div>
                      </div>
                     
                      <div class="col-12 text-center">

                        <p class="mb-0">I already have an account? <a href="{% url 'login' %}">Log in here</a></p>
                      </div>
                    </div>
                </form>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </main>
    
   <!--end page main-->

{% endblock %}


