{% extends "../dashboard/common/main_d.html" %}


{% block content %}
{% load static%}
{% load widget_tweaks %}

 <!--start content-->
 <main class="page-content">

  <!--breadcrumb-->
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Tools</div>
    <div class="ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Planting Planner</li>
        </ol>
      </nav>
    </div>
    <div class="ms-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Settings</button>
        <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
          <a class="dropdown-item" href="javascript:;">Another action</a>
          <a class="dropdown-item" href="javascript:;">Something else here</a>
          <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <!--end breadcrumb-->

  <div class="row">

    <div class="card">
      <div class="card-body">
        <div class="border p-4 rounded">
          <div class="card-title d-flex align-items-center">
            <h5 class="mb-0">Select Options</h5>
          </div>
          <hr>


          <form method="get" action="{% url 'getplans' %}">
            {% csrf_token %}
               
                 
                  
            <div class="form-group">
              <label for="validationServer04" class="form-label">County</label>
              {% render_field myFilter.form.county class="form-control" required="" %}
            </div>
            <br>  
            <div class="form-group">
              <label for="validationServer04" class="form-label">SubCounty</label>
              {% render_field myFilter.form.subcounty class="form-control" required="" %}
            </div>
            <br>  
            <div class="form-group">
              <label for="validationServer04" class="form-label">Ward</label>
              {% render_field myFilter.form.ward class="form-control" required="" %}
            </div>
            <br>
            
            <div class="form-group">
              <label for="validationServer04" class="form-label">Value Chain</label>
              {% render_field myFilter.form.valuechain class="form-control" required="" %}
            </div>
            <br>  
            
            <div class="form-group">
              <label for="validationServer04" class="form-label">Variety</label>
              {% render_field myFilter.form.vc_variety class="form-control" required="" %}
            </div>
            <br>  
          
            
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Get Advisory</button>
              </div>












        </div>
      </div>
    </div>
  
  
  </div>
  <!--end row-->
</main>
 <!--end page main-->

 

{% endblock %}