{% extends "../dashboard/common/main_d.html" %}


{% block content %}
{% load static%}


  <!--start content-->
  <main class="page-content">

    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Farm Name: {{selectedfarm.farm_name}}</div>
      <div class="ps-3">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Summary</li>
              </ol>
          </nav>
      </div>
      <div class="ms-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-success">Actions</button>
          <button type="button" class="btn btn-success split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="{% url 'ndvi' %}">NDVI</a>
           
            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="{% url 'myfarms'  %}">My Farms</a>
          </div>
        </div>
      </div>
      
  </div>
  <p><br></p>
  <p><br></p>

              
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
          <div class="d-flex align-items-center">
              <div>
                  <p class="mb-0 text-secondary">Primary Value chain</p>
                  <h4 class="my-1">{{selectedfarm.valuechain}}</h4>
                  <p class="mb-0 font-13 text-success"><i class="bi bi-record-circle"></i> .
                     </p>
              </div>
              <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i class="bi bi-record-circle"></i>
              </div>
          </div>
      </div>
    </div>
   </div>
   <div class="col">
      <div class="card radius-10">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <p class="mb-0 text-secondary">Variety</p>
                    <h4 class="my-1">{{selectedfarm.vc_variety}}</h4>
                    <p class="mb-0 font-13 text-success"><i class="bi bi-record-fill"></i>.</p>
                </div>
                <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i class="bi bi-record-fill"></i>
                </div>
            </div>
        </div>
    </div>
   </div>
   <div class="col">
    <div class="card radius-10">
      <div class="card-body">
          <div class="d-flex align-items-center">
              <div>
                  <p class="mb-0 text-secondary">Farm Size</p>
                  <h4 class="my-1">{{selectedfarm.farm_size_ha}} Acres</h4>
                  <p class="mb-0 font-13 text-success"><i class="bi bi-bounding-box-circles"></i>. </p>
              </div>
              <div class="widget-icon-large bg-gradient-success text-white ms-auto"><i class="bi bi-bounding-box-circles"></i>
              </div>
          </div>
      </div>
   </div>
   </div>



   <div class="col">
    <div class="card radius-10">
      <div class="card-body">
          <div class="d-flex align-items-center">
              <div>
                  <p class="mb-0 text-secondary">Suitability Map</p>
                  <h4 class="my-1"><button type="button" class="btn btn-success" data-bs-toggle="modal"  data-bs-target="#suitabilityModal">Load Map</button>
                  </h4>
                  <p class="mb-0 font-13 text-success"><i class="bi bi-pin-map-fill"></i>. </p>
              </div>
              <div class="widget-icon-large bg-gradient-success text-white ms-auto"><a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleFullScreenModal"><i class="bi bi-pin-map-fill"></i></a>
              </div>
          </div>
      </div>
   </div>
   </div>

   <div class="col">
    <!-- Button trigger modal -->
    <!-- Modal -->



    <!-- Modal -->

    <div class="modal fade" id="suitabilityModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Suitability Map For My Farm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            
            <iframe src="http://137.184.22.30:3900/?lat={{selectedfarm.lat}}&lng={{selectedfarm.lon}}&county={{selectedfarm.county}}&crop_name={{selectedfarm.valuechain}}&farmName={{selectedfarm.farm_name}}" title="Suitability map for my farm" width="100%" height="700"></iframe>
    

 </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>






















   
</div><!--end row-->


    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12 d-flex">
        <div class="card mb-0 radius-10 border shadow-none w-100">
          <div class="card-body">
            <div class="col">
              <h5 class="mb-0">Farm Location </h5>
            </div>




            
              <div> {{ map | safe }}</div>

           
           </div>
          </div>
      </div>

     
    </div><!--end row-->


    <div class="row">

      <div class="card bg-transparent shadow-none">
        <div class="card-body">
          <h6 class="mb-0 text-uppercase">Next 15 days weather forecast for my farm</h6>
          <div class="my-3 border-top"></div>
          <div class="row row-cols-1 row-cols-lg-3 justify-content-center g-lg-5">
            {% for d in wdata  %}
            <div class="col">
              <div class="card">
                <div class="card-body text-center green">
                  <div>
                    <h5 class="card-title"><u>{{d.Start_time|slice:"10" }}</u></h5>
                  </div>
                  <p class="card-text">
                    <table>
                      <tr>
                        <td><img src="{% static 'assets/images/weather/hot.png' %}" alt="..." height="32" width="32">&nbsp; Temperature: {{d.temperatureMin}}<sup>o</sup>C -  {{d.temperatureMax}}<sup>o</sup>C%<br />
                     </td>  
                    </tr>
                      <tr>
                        <td>
                          <img src="{% static 'assets/images/weather/rainy.png' %}" alt="..." height="32" width="32">&nbsp; Rainfall accumulation: {{d.rainAccumulation}}mm (Chance: {{d.precipitationProbability}}%)<br />
                   
                        </td>
                      </tr>

                    </tr>
                    <tr>
                      <td>
                        <img src="{% static 'assets/images/weather/cloud.png' %}" alt="..." height="32" width="32">&nbsp;  Cover: {{d.cloudCover}}%<br />
          
                        
                      </td>
                    </tr>

                  </tr>
                  <tr>
                    <td>
                      <img src="{% static 'assets/images/weather/humidity.png' %}" alt="..." height="32" width="32">&nbsp; Humidity: {{d.humidity}} <br />
                 
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="{% static 'assets/images/weather/wind.png' %}" alt="..." height="32" width="32">&nbsp; Wind Speed: {{d.windSpeed}}m/s
          
                      
                    </td>
                  </tr>

                       

                    </table>

                     
                        
                
                </div>
              </div>
            </div>
            {% endfor %}

            </div>

            



            <div class="w-100 border-top"></div>
            
          </div><!--end row-->
        </div>
      </div>
      
      
      
      
      

    </div>


    
  </main>
<!--end page main-->
{% endblock %}