{% extends "../dashboard/common/main_d.html" %}


{% block content %}
{% load static%}


       <!--start content-->
          <main class="page-content">
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Home</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Farm Management</li>
                        </ol>
                    </nav>
                </div>
                
            </div>
            <p><br></p>
            <p><br></p>
          
            
            <div class="row">
                <div class="col-12 " >
                   <div class="card radius-10">
                     <div class="card-body">
                      <div class="row row-cols-1 row-cols-lg-2 g-3 align-items-center">
                        <div class="col">
                          <h5 class="mb-0">My Farms</h5>
                        </div>
                        <div class="col">
                          <div class="d-flex align-items-center justify-content-sm-end gap-3 cursor-pointer">
                             <form>
                              <p>&nbsp;</p>
                             </form>
                          </div>
                        </div>
                       </div>
                       <form class="mt-3">
                        <div class="position-relative">
                          <div class="position-absolute top-50 translate-middle-y search-icon px-3"></div>
                          <p>&nbsp;</p>







                          <div class="col">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleScrollableModal">Register New Farm</button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleScrollableModal" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Register New Farm</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">


                                   

                                    <form method="post" action="{%url 'registerfarm'%} " name="registerfarm">
                                      {% csrf_token %}


                                      {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}




        {{ farmform.as_p }}
  
                                      














                                    <div class="card">
                                      <div class="card-body">
                                       
                                          <div class="mb-3">
                                            <label class="form-label">Farm name:</label>
                                            <input type="text" class="form-control" name="farm_name" value="{{ farm.farm_name }}"  >
                                            {{ farmform.farm_name }}  

                                            
                                          </div>

                                          <div class="mb-3">
                                            <label class="form-label">Farm Size (Acres):</label>
                                            {{ farmform.farm_size_ha }}
                                            <input type="number" class="form-control" name="farm_size_ha" placeholder="0.1 Acres"  step='0.01' value='0.00' placeholder='0.00'  >
                                          </div>

                                          <div class="mb-3">
                                            <label class="form-label">Farm ownership:</label>
                                            {{ farmform.farm_ownership }}
                                            <select name="farm_ownership" class="form-control" >
                                              <option selected>Self-Owned</option>
                                              <option>Rented</option>
                                              <option>Leased</option>
                                              <option>Communal land</option>
                                              <option>Family-owned</option>

                                            </select>
                                            
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">Primary Value Chain:</label>
                                            {{ farmform.valuechain }}
                                            <select name="valuechain" class="form-control"  >
                                              <option selected> </option>
                                              <option >Green gram</option>
                                              <option>Sorghum</option>
                                              <option>Finger millet</option>
                                              <option>Pigeon pea</option>
                                              <option>Cassava</option>

                                            </select>
                                           
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">Specify Primary Value Chain Variety:</label>
                                            {{ farmform.vc_variety }}
                                            <select name="vc_variety" class="form-control"  >
                                              <option selected> </option>
                                              <option >KAT 777</option>
                                              <option>Ndengu Tosha</option>
                                              

                                            </select>
                                           
                                          </div>
                                          
                                          <div class="mb-3">
                                            <label class="form-label">County:</label>
                                            {{ farmform.county }}
                                            
                                            <select name="county" class="form-control"  >
                                              <option selected> </option>
                                              <option >Busia</option>
                                              <option>Kisumu</option>
                                              <option>Kericho</option>                                              
                                              <option>Machakos</option>
                                              <option>Taita-taveta</option>

                                            </select>
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">Sub-County:</label>
                                            {{ farmform.subcounty }}
                                            
                                            <select name="subcounty" class="form-control"  >
                                              <option selected> </option>
                                              <option >Awasi</option>
                                              <option>Nyakach</option>

                                            </select>
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">Ward:</label>
                                            {{ farmform.ward }}
                                            
                                            <select name="ward" class="form-control"  >
                                              <option selected>Awasi/Onjiko</option>
                                              

                                            </select>
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">Latitude:</label>
                                            {{ farmform.lat }}
                                            <input type="number" class="form-control" name="lat"  step='0.00001' value='0.00000' placeholder='0.00000' >
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">Longitude:</label>
                                            {{ farmform.lon }}
                                            <input type="number" class="form-control" name="lon"  step='0.00001' value='0.00000' placeholder='0.00000'  >
                                          </div>
                                          
                                        
                                      </div>
                                    </div>


</div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          




























                        </div>
                       </form>
                       
                        

                        
  
                       <div class="row mt-2 g-3">

                        {% for farm in farms%}
                         <div class="col-12 col-lg-6">
                            <div class="card radius-10 shadow border mb-0">
                              <div class="card-body">
                                <div class="d-flex align-items-center">
                                  <div class="project-date">
                                    <p class="mb-0 font-13">.</p>
                                  </div> 
                                  <div class="dropdown ms-auto">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-horizontal-rounded font-22 text-option"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'farmdetails' farm.slug  %}">Summary</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Edit Farm Details</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">NDVI</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Suitability</a>
                                        </li>
                                        <li>
                                          <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Delete Farm</a>
                                        </li>
                                    </ul>
                                  </div> 
                                </div>
                                <div class="text-center my-3">
                                   <h6 class="mb-0"><a href="{% url 'farmdetails' farm.slug  %}">{{farm.farm_name}}</a></h6>
                                   <p class="mb-0">{{farm.valuechain}} - {{farm.vc_variety}}</p>
                                   
                                </div>
                                <div class="my-2">
                                  <p class="mb-1 font-13">Ownership: {{farm.farm_ownership}}</p>
                                  <div class="progress radius-10" style="height:5px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"></div>
                                  </div>
                                  <p class="mb-0 mt-1 font-13 text-end">.</p>
                                </div>
                                <div class="d-flex align-items-center">
                                  <div class="project-user-groups">
                                    
                                  </div>
                                  
                                  <div class="py-1 px-3 radius-30 bg-light-success text-success ms-auto">{{farm.farm_size_ha}} Acres</div>
                                </div>
                              </div>
                            </div>
                         </div>
                         {% endfor %}
                        
                     
                     
                   </div><!--end row-->
                       
                     </div>
                   </div>
                </div>
                
              </div>
            
          </main>
       <!--end page main-->

{% endblock %}